Babel==2.15.0
Brlapi==0.8.3
GitPython==3.1.43
Jinja2==3.1.4
Markdown==3.6
MarkupSafe==2.1.5
Pillow==9.0.1
PyGObject==3.42.1
PyJWT==2.3.0
PyNaCl==1.5.0
PyYAML==5.4.1
PyYAML==6.0.1
Pygments==2.11.2
Pygments==2.18.0
QtPy==2.4.1
SecretStorage==3.3.1
Send2Trash==1.8.3
Werkzeug==3.0.3
absl-py==2.1.0
accelerate==0.28.0
addict==2.4.0
aiobotocore==2.7.0
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
apturl==0.5.2
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
art==6.2
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
axolotl==0.4.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
bitsandbytes==0.43.0
bleach==6.1.0
blinker==1.4
botocore==1.31.64
cachetools==5.3.3
certifi==2020.6.20
certifi==2024.6.2
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.3.2
click==8.0.3
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.6
colorama==0.4.4
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
datasets==2.15.0
dbus-python==1.2.18
debugpy==1.8.1
decorator==5.1.1
deepspeed-kernels==0.0.1.dev1698255861
deepspeed==0.14.3+bc48371c
defer==1.0.6
defusedxml==0.7.1
dill==0.3.7
diskcache==5.6.3
distro-info==1.1+ubuntu0.1
distro==1.7.0
dnspython==2.6.1
docker-pycreds==0.4.0
docstring_parser==0.16
duplicity==0.8.21
einops==0.8.0
email_validator==2.2.0
evaluate==0.4.1
exceptiongroup==1.2.1
executing==2.0.1
fastapi-cli==0.0.4
fastapi==0.111.0
fastcore==1.5.48
fasteners==0.14.1
fastjsonschema==2.20.0
ffmpy==0.3.2
filelock==3.15.1
fire==0.6.0
flash-attn==2.5.8
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fschat==0.2.36
fsspec==2023.10.0
future==0.18.2
gcsfs==2023.10.0
gitdb==4.0.11
google-api-core==2.19.1
google-auth-oauthlib==1.2.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.64.1
h11==0.14.0
hf_transfer==0.1.6
hjson==3.1.0
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
idna==3.3
idna==3.7
importlib-metadata==4.6.4
importlib_resources==6.4.0
interegular==0.3.3
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
jeepney==0.7.1
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema-specifications==2023.12.1
jsonschema==4.22.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.11
keyring==23.5.0
kiwisolver==1.4.5
language-selector==0.1
lark==1.1.9
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lit==15.0.1
llvmlite==0.43.0
lm-format-enforcer==0.10.1
lockfile==0.12.2
loralib==0.1.2
louis==3.20.0
macaroonbakery==1.3.1
markdown-it-py==3.0.0
markdown2==2.4.13
matplotlib-inline==0.1.7
matplotlib==3.9.0
mdurl==0.1.2
mistune==3.0.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.15
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.2.1
nh3==0.2.17
ninja==1.11.1.1
notebook==7.2.1
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.555.43
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openai==1.35.3
optimum==1.16.2
orjson==3.10.5
outlines==0.0.46
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.4
peft==0.10.0
pexpect==4.8.0
pip==22.0.2
pip==24.1.1
platformdirs==4.2.2
prometheus-fastapi-instrumentator==7.0.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.21.12
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyRFC3339==1.1
pyairports==2.1.1
pyarrow-hotfix==0.6
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.20.1
pycountry==24.6.1
pycparser==2.22
pycups==2.0.1
pydantic==2.6.3
pydantic_core==2.16.3
pydot==2.0.0
pydotplus==2.0.2
pydub==0.25.1
pymacaroons==0.13.0
pynvml==11.5.0
pyparsing==2.4.7
pyparsing==3.1.2
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2022.1
pyxdg==0.27
pyzmq==26.0.3
qtconsole==5.5.2
rapidfuzz==3.9.3
ray==2.30.0
referencing==0.35.1
regex==2024.5.15
reportlab==3.6.8
requests-oauthlib==2.0.0
requests==2.25.1
requests==2.32.3
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
s3fs==2023.10.0
safetensors==0.4.3
scikit-learn==1.2.2
scipy==1.14.0
screen-resolution-extra==0.0.0
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.6.0
setproctitle==1.3.3
setuptools==59.6.0
setuptools==70.1.1
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.1
six==1.16.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.3
starlette==0.37.2
svgwrite==1.4.3
sympy==1.12.1
systemd-python==234
tensorboard-data-server==0.7.2
tensorboard==2.17.0
termcolor==2.4.0
terminado==0.18.1
thefuzz==0.22.1
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tokenizers==0.15.0
tomli==2.0.1
toolz==0.12.1
torch==2.3.0
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.40.0.dev0
triton==2.3.0
trl==0.8.5
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tyro==0.8.4
tzdata==2024.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ujson==5.10.0
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==1.26.5
urllib3==2.0.7
usb-creator==0.3.7
uvicorn==0.30.1
uvloop==0.19.0
vllm-flash-attn==2.5.9
vllm==0.5.0.post1
wadllib==1.3.6
wandb==0.17.2
watchfiles==0.22.0
wavedrom==2.0.3.post3
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
wheel==0.37.1
wheel==0.43.0
widgetsnbextension==4.0.11
wllvm==1.3.1
wrapt==1.16.0
xdg==5
xformers==0.0.26.post1
xkit==0.0.0
xxhash==3.4.1
yarl==1.9.4
zipp==1.0.0
zstandard==0.22.0